.task-list {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.task-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.scroll-container {
  overflow-y: scroll; /* Cho phép cuộn dọc */
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
  -ms-overflow-style: none; /* Ẩn thanh cuộn trên Internet Explorer và Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome, Safari và Opera */
}